/* :root {
    background-image: url;
} */

.card-body {
	background-color: #4a90e2;
}

.card {
	transition: all 0.6s ease;
	cursor: pointer;
	box-shadow: 8px 2px 8px 5px rgba(146, 130, 146, 0.55);
}

.card:hover {
	transform: scale(1.05);
}

.bg-colour {
	background-color: rgb(255,255,255)
}

.hr {
    background-color: #ffffff;
    height: 5px;
}

.pink {
    background-color: #f2a8ac;
}

.blue {
    background-color: #4a90e2;
}

.text-align {
	text-align: left;
	margin-left: 10%;
}

.searchBar {
	border: 1px solid rgba(146, 130, 146, 0.55);
	box-shadow: 8px 0px 8px 5px rgba(146, 130, 146, 0.55);
}

.region {
	border: 1px solid rgba(146, 130, 146, 0.55);
	box-shadow: 8px 2px 8px 5px rgba(146, 130, 146, 0.55);
}

.red {
	background-color: #f46161;
}

.green {
	background-color: #007749;
}

